{% extends 'base.html' %}
{% block title %}Search Courses{% endblock %}
{% block content %}

<h1 class="neon-subheading">Search Results</h1>
{% if query %}
    <h3>Results for <b> "{{ query }}"</b>:</h3><br>
    <div class="assignment-grid">
    {% if results %}
    {% for course in results %}
        <div class="cyber-card">
            <div class="card-header">
                <h3 class="glowing-text">{{ course.title }}</h3>
            </div>
            <div class="card-body">
                <p class="assignment-description">{{ course.description|truncatewords:30 }}</p>
                <div class="assignment-meta">
                    <div class="meta-item">
                        <i class="fas fa-code"></i>
                        <span>Created By : {{ course.educator.username }} </span>
                    </div>
                </div>
            </div>
            <div class="card-actions">
                <a href="{% url 'enroll_in_course' course.id %}" class="action-btn edit-btn">
                    <i class="fas fa-file-signature"></i> Enroll
                </a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No courses found matching your query.</p>
    {% endif %}
    {% else %}
        <p>Go back and Please enter a search term.</p>
    {% endif %}
    </div><br>
    <a href="{% url 'student_dashboard' %}" class="back-button">  <i class="fas fa-arrow-left mr-2"></i> Back to Dashboard</a>
{% endblock %}
