{% extends 'base.html' %}
{% block title %}Progress Tracker{% endblock %}
{% block content %}
<h1>Your Progress</h1><br>
{% if progress_data %}
    <ul>
    {% for item in progress_data %}
    <div align="center">
        <div class="dashboard-card">
            {{ item.course.title }}: 
            <progress value="{{ item.progress }}" max="100">{{ item.progress }}%</progress>
        </div><br>
    </div>
    {% endfor %}
    </ul>
{% else %}
    <p>No progress data available.</p>
{% endif %}
{% endblock %}
