{% extends 'base.html' %}
{% block title %}Search Courses{% endblock %}
{% block content %}
<h1>Search Results</h1><br>
{% if query %}
    <a>Results for <b> "{{ query }}"</b>:</a><br>
    {% if results %}
        <ul class="course-results">
        {% for course in results %}
        <div align="center">
            <div class="dashboard-card">
            
                <h3>{{ course.title }}</h3>
                <p>{{ course.description|truncatewords:30 }}</p>
                <a href="{% url 'enroll_in_course' course.id %}" class="enroll-button">Enroll</a>
            </div><br>
        </div>
        {% endfor %}
        </ul>
    {% else %}
        <p>No courses found matching your query.</p>
    {% endif %}
{% else %}
    <p>Please enter a search term above.</p>
{% endif %}
<a href="{% url 'student_dashboard' %}" class="back-button">Back to Dashboard</a>
{% endblock %}
