{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LuminoLearn{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'assets/images/lumino_favicon.svg' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
                <ul>
                    {% if user.role == "student" %}
                        <li><a href="{% url 'student_dashboard' %}">Student Dashboard</a></li>
                    {% elif user.role == "educator" %}
                        <li><a href="{% url 'educator_dashboard' %}">Educator Dashboard</a></li>
                    {% elif user.role == "admin" %}
                        <li><a href="{% url 'admin_dashboard' %}">Admin Dashboard</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            {% else %}
                <ul>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                </ul>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Content specific to each page -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 LuminoLearn. All rights reserved.</p>
    </footer>
    <script>
        // Thumbnail preview functionality
        document.getElementById('thumbnail').addEventListener('change', function(e) {
            const file = e.target.files[0];
            const preview = document.getElementById('thumbnail-preview');
            const fileName = document.getElementById('file-name');
            
            fileName.textContent = file.name;
            preview.style.display = 'block';
            
            const reader = new FileReader();
            reader.onload = function(e) {
                preview.innerHTML = `<img src="${e.target.result}" class="thumbnail-preview-image">`;
                preview.style.animation = 'preview-appear 0.3s ease';
            }
            reader.readAsDataURL(file);
        });
        </script>
</body>
</html>
