{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - LuminoLearn</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body>
    <div class="login-container">
        <h1>Welcome Back!</h1>
        <form action="{% url 'login' %}" method="POST" id="loginForm">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="email" name="username" placeholder="Enter your username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <div>
                {% for message in messages %}
            <h4>  {{ message }}  </h4>
                {% endfor %}
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
        <p>Don't have an account? <a href="/register/">Register here</a>.</p>
    </div>
    <!--  <script src="{% static 'js/login.js' %}"></script> -->
</body>
</html>
