{% extends 'base.html' %}

{% block title %}Select Course for Assignment{% endblock %}

{% block content %}
<div class="dashboard-card">
    <h3>Create Assignments</h3>
    <p>Design quizzes and assignments for your students.</p>
    {% if courses %}
        <ul>
            {% for course in courses %}
                <li>
                    <a href="{% url 'create_assignment' course.id %}">
                        Create Assignment for {{ course.title }}
                    </a>
                </li>
                <br>
            {% endfor %}
        </ul>
    {% else %}
        <p>You haven't created any courses yet. <a href="{% url 'create_course' %}">Create one now!</a></p>
    {% endif %}
</div>
{% endblock %}
